## JSON Processing

In [1]:
from langchain_community.document_loaders import JSONLoader
import json
import pandas as pd

/Users/sumanyadav/Desktop/Learn/Learn-RAG/.venv/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
with open("data/json_files/company_data.json") as f:
    data = json.load(f)

data

{'company': 'TechCorp',
 'employees': [{'id': 1,
   'name': 'John Doe',
   'role': 'Software Engineer',
   'skills': ['Python', 'JavaScript', 'React'],
   'projects': [{'name': 'RAG System', 'status': 'In Progress'},
    {'name': 'Data Pipeline', 'status': 'Completed'}]},
  {'id': 2,
   'name': 'Jane Smith',
   'role': 'Data Scientist',
   'skills': ['Python', 'Machine Learning', 'SQL'],
   'projects': [{'name': 'ML Model', 'status': 'In Progress'},
    {'name': 'Analytics Dashboard', 'status': 'Planning'}]}],
 'departments': {'engineering': {'head': 'Mike Johnson',
   'budget': 1000000,
   'team_size': 25},
  'data_science': {'head': 'Sarah Williams',
   'budget': 750000,
   'team_size': 15}}}

In [3]:
import pandas as pd

df = pd.read_json("data/json_files/events.jsonl", lines=True)
df

   timestamp       event  user_id   page  amount
0 2024-01-01  user_login      123    NaN     NaN
1 2024-01-01   page_view      123  /home     NaN
2 2024-01-01    purchase      123    NaN   99.99

In [4]:
## Meethod 1- Using JSONLoader with jq_schema
from langchain_community.document_loaders import JSONLoader

employee_loader = JSONLoader(
    file_path="data/json_files/company_data.json",
    jq_schema=".employees[]",
    text_content=False
)

employees_docs = employee_loader.load()

print(f"length: {len(employees_docs)}")
print(f"content preview: {employees_docs[0].page_content[:200]}")
print(f"metadata: {employees_docs[0].metadata}")

length: 2
content preview: {"id": 1, "name": "John Doe", "role": "Software Engineer", "skills": ["Python", "JavaScript", "React"], "projects": [{"name": "RAG System", "status": "In Progress"}, {"name": "Data Pipeline", "status"
metadata: {'source': '/Users/sumanyadav/Desktop/Learn/Learn-RAG/0-DataIngestParsing/data/json_files/company_data.json', 'seq_num': 1}